.header {
    width: 100%;
    padding: 15px 30px;
    background-color: black;
}

.header-logo img {
    width: 250px;
}

.header-title {
    text-align: center;
    margin: 10px auto;
}

.form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.form-group__title {
    width: 50%;
    text-align: center;
    padding: 0 auto;
}

.form-input__text {
    width: 50%;
    padding: 15px 100px;
}