html, body {
    height: 100%;
    overflow: hidden;
}

/* ブラウザのmarginを無効 */
p {
    margin: 0;
    padding: 0;
}

.work-grid {
    background-color: rgb(240, 240, 240);
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    /* 全体の高さの微調整 */
    padding-bottom: 100px;
}

.work-content {
    text-align: center;
}

.work_status {
    background-color: rgb(200, 200, 200);
    color: gray;
    padding: 8px 24px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
}

.date {
    font-size: 30px;
}

.time {
    font-size: 50px;
    font-weight: bold;
}

.work-btn {
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 60px;
    cursor: pointer;
    margin: 50px 30px;
}

.btn-rest {
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 50px;
    cursor: pointer;
    margin: 50px 30px;
    border: none;
}

.leaving-work {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}