.list-form {
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

h2 {
    padding: 0;
    margin: 0;
}

.list-form__grid {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 50px;
}

.list-form__title {
    display: flex;
    align-items: center;
}

.list-form__title::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 1.2em;
    background-color: black;
    margin-right: 20px;
}

.list-calender {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    background-color: white;
}

.list-form__row {
    display: flexbox;
    justify-content: space-around;
}

.list-form__label,
.list-form__data {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 70px;
    margin-top: 30px;
    background-color: white;
}

.list-form__table {
    width: 100%;
    border-collapse: collapse;
    /* 枠線を一本にする */
    background-color: white;
    margin-top: 20px;
}

.list-form__label {
    padding: 15px;
    border-bottom: 2px solid #eee;
    /* 見出しの下に線を入れる */
    text-align: left;
    color: #333;
    font-weight: bold;
}

.list-form__data {
    padding: 15px;
    border-bottom: 1px solid #eee;
    /* 各行の間に薄い線を入れる */
    color: #666;
    vertical-align: middle;
}

/* 行にホバーした時に色を変えると見やすいです */
tbody tr:hover {
    background-color: #f9f9f9;
}