.header {
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 0 50px;
}

.header-logo img {
    width: 250px;
}

.header-nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin-left: auto;
}

.header-nav__link,
.header-nav__link-button {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    background-color: #000;
    font-size: 15px;
}